.conteudo{
    display: flex;
    background-color: var(--fundo);
}

.conteudo-principal{
    flex-grow: 3;
}

:root {
    --primaria: #ffffff;
    --secundaria: #4B0082;
    --secundaria-ativa : #9400D3;
    --fundo: #8A2BE2;
    --fundo-detalhes: #dedede;
}