.conteudo{
    display: flex;
    background-color: var(--fundo);
}

.conteudo-principal{
    flex-grow: 3;
}

:root {
    --primaria: #ffffff;
    --secundaria: #fc6603;
    --secundaria-ativa : #d57647;
    --fundo: #262424;
    --fundo-detalhes: #dedede;
}